@page "/roles/manage/{roleId:guid}"

@using Paco.Data.DatabaseRepository
@using Paco.Data.Entities
@using Paco.Data.Entities.Identity

@inject ApplicationDbContext ApplicationDbContext
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Administrator")]

@if (Role == null)
{
    <p>Role not found</p>
}
else
{
    <h1>@(Role.Name)</h1>
    <TabControl>
        <TabPage Text="Users">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Role.Users)
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </TabPage>
        <TabPage Text="Permissions">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="text-align:center">Read</th>
                        <th style="text-align:center">Write</th>
                        <th style="text-align:center">Execute</th>
                        <th style="text-align:center">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rolePermission in RoleSystemPermissions)
                    {
                        var managedSystem = rolePermission.ManagedSystem;
                        <tr>
                            <td>
                                @managedSystem.Name
                            </td>
                            <td style="text-align:center">
                                <input type="checkbox" checked=@rolePermission.Permissions.HasFlag(Permissions.Read) @onchange="eventArgs => { CheckboxClicked(rolePermission, Permissions.Read, eventArgs.Value); }" >
                            </td>
                            <td style="text-align:center">
                                <input type="checkbox" checked=@rolePermission.Permissions.HasFlag(Permissions.Write) @onchange="eventArgs => { CheckboxClicked(rolePermission, Permissions.Write, eventArgs.Value); }" >
                            </td>
                            <td style="text-align:center">
                                <input type="checkbox" checked=@rolePermission.Permissions.HasFlag(Permissions.Execute) @onchange="eventArgs => { CheckboxClicked(rolePermission, Permissions.Execute, eventArgs.Value); }" >
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </TabPage>
    </TabControl>
}

@code {
    [Parameter]
    public Guid RoleId { get; set; }
    public Role Role { get; set; }
    public List<RoleSystemPermissions> RoleSystemPermissions { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitializedAsync();

        RoleSystemPermissions = ApplicationDbContext.RoleSystemPermissions.GetPermissionsWithSystemsForRole(RoleId);
        Role = ApplicationDbContext.Roles.GetRoleWithUsers(RoleId);
    }

    protected void CheckboxClicked(RoleSystemPermissions rolePermissions, Permissions permission, object value)
    {
        if (value is bool isChecked)
        {
            if (isChecked)
            {
                rolePermissions.Permissions |= permission;
            }
            else
            {
                rolePermissions.Permissions &= ~permission;
            }

            ApplicationDbContext.RoleSystemPermissions.Update(rolePermissions);
            ApplicationDbContext.SaveChanges();
        }
    }

}