@using Paco.Entities.Models
@using Paco.Services
@using Paco.Entities.FreeBsd

@inject SystemManagerService SystemManagerService

@if (_showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update @_system.Name</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @if (_updates != null)
                    {
                        @foreach (PackageAction update in _updates)
                        {
                            var background = "";
                            var tooltipMessage = "Looks great!";
                            // Has undefined option
                            if (update?.Options?.Any(x => x.Status == OptionSetStatus.Undefined) == true)
                            {
                                background = "error-background";
                                tooltipMessage = "Error: Has undefined options!";
                            }

                            <div class="@background my-2 py-2 ps-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@tooltipMessage">
                                @update?.Description <span style="float: right;" class="oi bi-gear clickable px-3" aria-hidden="true" @onclick="() => { }"></span>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Loading...</p>
                    }

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@CloseModal">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick=@CloseModal>Delete</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    private bool _showModal = false;
    private ManagedSystem _system;
    private IEnumerable<object> _updates = null;
    private ModalType _modalType = ModalType.Systems;

    public void ShowModal(ManagedSystem managedSystem)
    {
        _system = managedSystem;
        _showModal = true;
        StateHasChanged();

        Task.Run(() =>
        {
            _updates = SystemManagerService.GetPackagesActions(_system);
            InvokeAsync(StateHasChanged);
        });
    }

    void CloseModal()
    {
        _showModal = false;
        _system = null;
        _updates = null;
    }

    enum ModalType
    {
        Systems,
        Options
    }
}