@using Paco.Entities.Models.Identity
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (UserManager.HasPasswordAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result)
        {
            <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
            <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
            <li class="nav-item">
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/LogOut" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})">
                    <a id="logout" onclick="this.closest('form').submit();return false;" class="nav-link text-white" asp-area="Identity" title="Logout">Logout</a>
                </form>
            </li>
        }
    }
</ul>