@using Microsoft.AspNetCore.Identity
@using Paco.Entities.Models.Identity
@using Paco.Repositories.Database
@using Paco.Validations

@inject ApplicationDbContext ApplicationDbContext
@inject NavigationManager NavigationManager
@inject RoleManager<Role> RoleManager


@page "/roles/add"
@attribute [Authorize(Roles = "Administrator")]

<h2>Add new role</h2>

<EditForm Model="@_role" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="@_customValidator" />
    <ValidationSummary />
    <FormInput @bind-Value="@_role.Name" ElementId="RoleName" Label="Role name" InputType="text" Placeholder="Administrators" Help="Enter name which will represent this role" />
    <Submit />
</EditForm>

@code {
    private readonly Role _role = new Role();
    private CustomValidator _customValidator;
    private async Task HandleValidSubmit()
    {
        var result = await RoleManager.CreateAsync(_role);

        if (result.Errors.Any())
        {
            _customValidator.DisplayErrors(new Dictionary<string, IEnumerable<string>>()
            {
                { nameof(_role.Name), result.Errors.Select(x => x.Description) }
            });
        }
        else
        {
            NavigationManager.NavigateTo($"/roles/manage/{_role.Id}");
        }
    }

}