@using Paco.Repositories.Database
@using Paco.Entities.Models.Identity
@inject ApplicationDbContext ApplicationDbContext
@inject NavigationManager NavManager
@page "/roles/list"
@attribute [Authorize(Roles = "Administrator")]

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in _roles)
        {
            <tr @onclick="() => ManageRole(role)" style='cursor: pointer;'>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.CreatedAt
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Role> _roles = new();

    protected override async Task OnInitializedAsync()
    {
        _roles = ApplicationDbContext.Roles.ToList();

        await base.OnInitializedAsync();
    }

    private void ManageRole(Role role)
    {
        NavManager.NavigateTo($"/roles/{role.Id}/manage");
    }

}