@attribute [Authorize]

@using Microsoft.Extensions.Logging
@using SystemManagement
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Paco.Entities
@using Paco.Entities.Models
@using Paco.Entities.Models.Identity
@using Paco.Repositories.Database
@using Paco.Services
@using Paco.SystemManagement.Ssh

@inject ILogger<ExecutionModal> Logger
@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider




@if (_isExecuting)
{
    <div class="modal fade show" id="executingModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Loading</h4>
                </div>

                <div class="modal-body">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Please wait</span>
                    </div>
                    <span class="px-3"></span>Please wait for operation to finish.
                </div>
            </div>
        </div>
    </div>
}
else if (_errorMessage != null)
{
    <div class="modal fade show" id="errorModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label>
                        @_errorMessage
                    </label>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" @onclick=@HideDialog>Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private string _errorMessage;
    private bool _isExecuting;

    private async Task<User> GetUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        return user;
    }
    
    public void ExecuteOperation(Action operation, string description, Action<Exception> onFailure = null)
    {
        _isExecuting = true;
        StateHasChanged();
        
        Task.Run(async () =>
        {
            var actionId = Guid.NewGuid();

            User user = null;
            
            try
            {
                user = await GetUser();
                Logger.LogInformation("{user} invoked {description} with action ID {actionId}.", user.UserName, description, actionId);
                await InvokeAsync(operation);
            }
            catch (Exception e)
            {
                Logger.LogError(e, "Action {actionId} invoked by {user} finished with error: {message}.", actionId, user?.UserName, e.Message);
                
                _errorMessage = $"An error occured during execution: \"{e.Message}\".";

                await InvokeAsync(() =>
                {
                   onFailure?.Invoke(e);     
                });
            }

            _isExecuting = false;
            await InvokeAsync(StateHasChanged);
        });
    }

    private void HideDialog()
    {
        _errorMessage = null;
    }
}